* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: brown;
}
@media (max-width: 1000px) {
  .main {
    background-color: blue;
  }
}
@media (max-width: 800px) {
  .main {
    background-color: red;
  }
}
@media (max-width: 600px) {
  .main {
    background-color: green;
  }
}
@media (max-width: 400px){
    .main{
        background-color: blueviolet;
    }
}
